<div class="card" >
    <div class="cardimg">
        <div id="cprev" style="margin-right: 3%;"><</div>
        <img id="cardimg" src="/images/Comedero-Dispenser-Alimentador-Programable.jpg" alt="">
        <img id="cardimg" src="/images/prueba.jpeg" alt="" class="hidden">
        <img id="cardimg" src="/images/logoweb2.png" alt="" class="hidden">
        <div id="cnext" style="margin-left: 3%;">></div>
    </div>
    <a href="/product/detail" style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-decoration: none;">
    <div class="cardname"><p>Lorem ipsum dolor sit amet consectetur.</p></div>
    <div class="cardprice">$1.000</div>
    </a>
</div>