<div class="card">
    <div class="cardimg">Imagen</div>
    <div class="cardname"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, sint.</p></div>
    <div class="cardprice">Precio</div>
    <div class="cardbutton">Comprar</div>
  </div>