<div class="card">
    <div class="cardimg"><img src="/images/Comedero-Dispenser-Alimentador-Programable.jpg" alt=""></div>
    <div class="cardname"><p>Lorem ipsum dolor sit amet consectetur.</p></div>
    <div class="cardprice">$1.000</div>
    <div class="cardbutton">Comprar</div>
  </div>