<header>
    <div class="logo">
      Logo
    </div>
    <div class="searchbar">
      <form class="searchform" action="">
        <input class="searchcontent" type="text" placeholder="Contanos que estas buscando">
        <input class="searchbutton" type="submit" value="">
      </form>
    </div>
    <div class="cartuser">
      <div>User</div>
      <div>Cart</div>
    </div>
    <div class="menu">menu</div>
  </header>