<head>
    <title>Firulais.com</title>
    <success></success>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f806648dd3.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- SLICK CAROUSEL -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- INDEX STYLE -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- LOGIN STYLE -->
    <link rel='stylesheet' href='/stylesheets/loginstyle.css'>
    <!-- USER STYLE -->
    <link rel='stylesheet' href='/stylesheets/userstyle.css' />
    <!-- REGISTER STYLE-->
    <link rel='stylesheet' href='/stylesheets/registerstyle.css'>
    <!-- PRODUCT DETAIL STYLE -->
    <link rel='stylesheet' href='/stylesheets/detailstyle.css'>
    <!-- PRODUCT DETAIL STYLE -->
    <link rel='stylesheet' href='/stylesheets/searchcontentstyle.css'> 
  </head>