<header>
    <div class="logo">
      <div><a href=""><img src="/images/logoweb2.png" alt=""></a></div>
    </div>
    <div class="searchbar">
      <form class="searchform" action="">
        <input class="searchcontent" type="text" placeholder="Contanos que estas buscando">
        <button class="searchbutton" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <div class="cartuser">
      <div><a href=""><i style="font-size: 3.5rem;" class="material-icons">person</i></a></div>
      <div><a href=""><i style="font-size: 3.5rem;" class="material-icons">shopping_cart</i></a></div>
    </div>
    <div class="menu">menu</div>
  </header>