<!DOCTYPE html>
<html>
  <% include ./partials/head.ejs %> 
  <body class="bod">
    <% include ./partials/header.ejs %> 
    <div id='filterbody' class="filterbody">
      
      <!-- <div id="rowlist" class="rowcontainer">
        <div class="cartendbuttons">
          <button>Seguir comprando</button>
          <button>Finalizar compra</button>
        </div>
        <div class="pricecontainer" style="background-color: rgb(247, 245, 245); height: 5vh;">
          <div class="searchprice">Total $2000</div>
         </div>
      </div> -->
    </div>
  </body>
  <script src="/javascript/cart.js"></script>
  <footer>
    PIe de pagina
  </footer>
