<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/cartstyle.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/f806648dd3.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <% include ./partials/header.ejs %> 
    <div>
        <div style="height: 50vh; background-color: royalblue;" class="content">
           <div class="cartbody"><div style="background-color:red; height: 5vh; width: 15%;">Imagen</div>
            <div>Titulo</div>
            <div>Contador</div>
            <div class="cartdelbutton">D</div>
            <div>Precio</div>
            <div>Total</div></div>
            <div>Botones</div>
        </div>
    </div>
</body>
</html>