<!DOCTYPE html>
<html>
  <% include ./partials/head.ejs %> 
  <body class="bod">
    <input type="hidden" id="userid" name="userid" value="<%= user.id %> ">
    <% include ./partials/header.ejs %> 
    <div id='filterbody' class="filterbody">
    </div>
  </body>
  <script src="/javascript/cart.js"></script>
  <footer>
    PIe de pagina
  </footer>
