<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/f806648dd3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <% include ./partials/header.ejs %> 
    <!-- Creación componente para menú desplegable -->
    <div class="content">

      
      <div class="indextitle">Ofertas</div>
      <div class="cards"><% for( let i = 0; i < 4; i++ ) { %>
        <% include ./partials/card.ejs %> 
      <% } %></div>
      
      <div class="indextitle">Visitados</div>
      <div class="cards"><% for( let i = 0; i < 4; i++ ) { %>
        <% include ./partials/card.ejs %> 
      <% } %></div>
    </div>
    
  </body>
  <footer>
    PIe de pagina
  </footer>
