<!DOCTYPE html>
<html>
  <% include ./partials/head.ejs %> 
  <body>
    <% include ./partials/header.ejs %> 
    <!-- Creación componente para menú desplegable -->
    <div class="content">

      
      <div class="indextitle">Ofertas</div>
      <div class="cards"><% for( let i = 0; i < 4; i++ ) { %>
        <% include ./partials/card.ejs %> 
      <% } %></div>
      
      <div class="indextitle">Visitados</div>
      <div class="cards"><% for( let i = 0; i < 4; i++ ) { %>
        <% include ./partials/card.ejs %> 
      <% } %></div>
    </div>
    
  </body>
  <footer>
    PIe de pagina
  </footer>
