<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./partials/header.ejs %> 
    <div class="content">
      <div class="indextitle">Ofertas</div>
      <div class="cards"><% for( let i = 0; i < 4; i++ ) { %>
        <% include ./partials/card.ejs %> 
      <% } %></div>
      
      <div class="indextitle">Visitados</div>
      <div class="cards"><% for( let i = 0; i < 4; i++ ) { %>
        <% include ./partials/card.ejs %> 
      <% } %></div>
    </div>
    
  </body>
  <footer>
    PIe de pagina
  </footer>
