<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="logo">
        Logo
      </div>
      <div class="searchbar">
        <form class="searchform" action="">
          <input class="searchcontent" type="text" placeholder="Contanos que estas buscando">
          <input class="searchbutton" type="submit" value="">
        </form>
      </div>
      <div class="cartuser">
        <div>User</div>
        <div>Cart</div>
      </div>
      <div class="menu">menu</div>
    </header>
    <div class="content">
      <div class="offer">Ofertas</div>
      <div class="recent">Visitados</div>
    </div>
    <footer>
      PIe de pagina
    </footer>
  </body>
</html>
