<!DOCTYPE html>
<html>
  <div id="cookiewelcome" class="cookies-msg">
    <div class="cookies-prompt">
    <p >Para mejorar su experiencia como usario este sitio utiliza cookies</p>
    <button class="cookiesbutton" value="Aceptar">Aceptar</button>
    <button class="cookiesbutton" value="Rechazar">Rechazar</button></div>
  </div>
  <% include ./partials/head.ejs %> 
  <body>
    <% include ./partials/header.ejs %> 
    <div class="content">
      <div class="indextitle">Ofertas</div>
      <div class="cards">
        <% for( let i = 0; i < products.length; i++ ) { %>
        <% include ./partials/card.ejs %> 
      <% } %></div>
      <div class="indextitle">Visitados recientemente</div>
      <div id="recently" class="cards"><% for( let i = 0; i < products.length; i++ ) { %>
        <% include ./partials/card.ejs %> 
      <% } %></div>
    </div>
  </body>
  <script src="/javascript/index.js"></script>
  <footer>
    PIe de pagina
  </footer>
