<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/loginstyle.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <% include ./partials/header.ejs %> 
    <div class="loginbody">
        <div class="loginform">
            <div class="login">
                <form action="/users/user">
                <label for="">Username</label>
                <input type="email" name="" id="">
                <label for="">Password</label>
                <input type="password" name="" id="">
                <input class="checkbox" type="checkbox" name="" id="">
                <label class="checklabel" for="">Recordar usuario?</label>
                <p>No tenes usuario? <a style="color: royalblue;" href="/users/register">Registrate</a></p>
                <p style="margin-top: -2%; margin-bottom: 0%;">Olvidaste tu contraseña? <a style="color: royalblue;" href="">Recuperar</a></p>
                <button type="submit">Ingresar</button>
                <a class="social" href="">Ingresa con <i style="color: blue;" class="fab fa-facebook"></i></a>
                <a class="social"  href="">Ingresa con <i style="color: red;" class="fab fa-google-plus-g"></i></a>
            </form>
            </div>  
        </div>
    </div>

</body>
<footer>
    PIe de pagina
  </footer>
</html>