<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f806648dd3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/detailstyle.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <% include ./partials/header.ejs %> 
    <div class="detailbody">
        <div class="detailimg">
            <div>img chicas</div>
            <div>img grande</div>
        </div>
        <div class="detaildetail">
            <div class="detailtitle"><h1>Lorem ipsum dolor sit amet.</h1></div>
            <div class="detailprice">$4.000</div>
            <div class="detailstock">stock disponible xx unidades</div>
            <div class="detailcounter">
                <div class="counterbut"><i class="fas fa-minus"></i></div>
                <div class="countervalue">1</div>
                <div class="counterbut"><i class="fas fa-plus"></i></div>
            </div>
            <div class="detailaddcart">
                <form  action="">
                <button type="submit">Agregar al carrito</button>
                </form>
                <form style="display: none;" action="">
                <button type="submit">Comprar</button>
                </form>
            </div>
            <div style="display: none;">comprar</div>
        </div>
    </div>
    <div class="detailextra">
        <div class="description">
            <h1>Descripción</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt sint perferendis assumenda molestias vero aliquid obcaecati velit, modi enim quia nostrum, expedita quaerat consequatur aspernatur libero tempora aliquam! Consequatur nulla nisi dicta labore commodi beatae vero ut quam esse quis animi molestiae culpa sunt aperiam voluptates quos in quo porro soluta laborum, accusantium rerum libero eos aliquam. Sapiente, voluptatem iure cupiditate quibusdam, ratione aperiam quam obcaecati, harum vero laborum delectus eos nobis iste? Nemo libero blanditiis, repellendus laudantium vero nam eveniet ea sit. Ipsa delectus nisi a praesentium alias aliquam officiis distinctio laudantium ratione tempora, ducimus culpa quidem neque cumque. Deleniti quis sapiente ratione consequuntur repellat. Animi excepturi labore quidem eveniet? Accusantium a repellat hic eveniet eligendi nam iusto nesciunt esse ipsum fuga? Asperiores, autem vero nihil porro non quasi explicabo ratione repudiandae deserunt rerum officiis incidunt ipsa in alias, officia doloremque tenetur assumenda quo nesciunt laudantium mollitia omnis perferendis? Ad, error maxime minima voluptatum voluptatem, doloremque facere alias aliquam rerum cumque nisi eos quia vel aperiam blanditiis repellat quasi adipisci aut praesentium veniam quas? Cumque accusamus quae placeat. Incidunt quidem id atque. Sunt vitae ea recusandae voluptate a id fugit alias harum nemo reprehenderit cumque optio laboriosam incidunt, non, rerum blanditiis corporis velit, expedita error tenetur dignissimos. Nemo deserunt quod vitae deleniti ab mollitia, omnis tempora corrupti nostrum delectus hic aperiam consequuntur iusto saepe laudantium inventore provident dolore sapiente ipsa molestias aliquam quisquam officiis optio. Sunt consequatur culpa iusto voluptas temporibus quidem voluptatibus tenetur quasi minus itaque, odit facilis officiis voluptate? Vero aliquam, mollitia accusamus quo officia suscipit soluta consequuntur fugiat voluptatibus ut natus omnis earum similique quod, veniam sed, culpa repellendus sapiente. Ratione voluptas similique perferendis, ea sunt amet officiis, quia nihil in aliquam maiores? Veniam doloribus tempora unde, saepe est iure eum voluptatum natus omnis recusandae facere. Debitis ipsum laudantium ex omnis? Voluptate veniam, laborum mollitia, esse error exercitationem ullam quo tenetur fugiat tempore temporibus dignissimos! Natus beatae nam ipsam nobis dolore illo consequatur tenetur non? Nesciunt, tempora itaque praesentium nostrum placeat iure repellat modi quia facilis perferendis doloremque quisquam dolorem beatae sequi dolor incidunt earum nisi.</p>
        </div>
        <div class="comments">
            <div class="stars">
                <% for( let index = 0; index < 5; index++ ) { %>
                    <i class="fas fa-star"></i>                                    <% } %>
            </div>
            <div class="comment">
                <% for( let index = 0; index < 3; index++ ) { %>
                    <div class="commentcard">
                <h2>  <% for( let index = 0; index < 5; index++ ) { %>
                    <i class="fas fa-star"></i>                                    <% } %></h2>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam animi soluta adipisci odit quidem corrupti consequuntur, nemo amet facere suscipit, rerum fugiat? Quibusdam neque at iure necessitatibus rem. Cum dignissimos enim quas nostrum. Reiciendis ipsam numquam quod molestias commodi quas possimus quibusdam blanditiis perferendis magni temporibus, nisi fugiat, velit est provident voluptatum dolorum ut dolore soluta non. Ipsa, adipisci aut quam corrupti expedita doloremque cupiditate tempora totam illo, culpa facilis molestias eaque excepturi, pariatur nam unde incidunt error! Voluptatum quod mollitia perferendis aliquam explicabo odio, commodi numquam quisquam vitae sapiente vel beatae voluptatibus minima eius ut cupiditate, nam aperiam quas!</p>
                </div></div>   <% } %>

            </div>
        </div>
    </div>
</body>
</html>