<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/loginstyle.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/f806648dd3.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <% include ./partials/header.ejs %> 
    <div class="loginbody">
        <div class="loginform">
            <div class="login">
                <form action="">
                    <label  for="">Nombre</label>
                    <input type="text" name="" id="">
                    <label  for="">Apellido</label>
                    <input type="text" name="" id="">
                    <label for="">Dirección de mail</label>
                    <input type="email" name="" id="">
                </form>
            </div>  
        </div>
    </div>

</body>
<footer>
    PIe de pagina
  </footer>
</html>