<!DOCTYPE html>
<html lang="en">
    <% include ./partials/head.ejs %>
<body>
    <% include ./partials/header.ejs %> 
    <div class="userbody">
        <div class="usermenu">
            <input type="hidden" id="screenstatus" value="<%= screen %>">
            <div class="userimg">
                <div style="display: flex; justify-content: center;"><img id="userimg" <% if (user.imagenusuario) { %>
                    src="/images/<%= user.imagenusuario.Name  %> "
                <% } %> src="/images/user.png" alt=""></div>
                <div id="imgbuttoncontainer" style="display: flex; justify-content: center; margin-top: 3%;" class="">
                    <a id="imgbutton" style="color: #8cb46b; font-size: 150%;" href=""><i class="fa fa-plus"></i></a></div>
               <div  id="imgform" class="hidden"> 
                <form action="/users/user/image" method="post" enctype="multipart/form-data" >
                <input type="hidden" name="User_Id" value="<%= user.id %> ">
                <input  type="file" name="userimg" id="userimginput">
                <button class="imgbutton" type="submit">Cambiar foto</button></form></div></div>
                <% if (imageerror) { %>
                    <div class="validators" style="color: red; text-align: center; ">
                           <p><%= imageerror[0].msg %> </p>
                       </div>
                    <% } %>
            <div id='datahome' class="username">Dante Tachella</div>
            <div class="useroptions">
                <ul>
                    <li class="menubutton">Mis Datos <i class="fa fa-angle-down"></i></li>
                    <div id="personales" class="hidden">
                    <li id="botones" class="submenu">Editar datos</li>
                    <li id="botones" class="submenu">Mis direcciones</li>
                    <li id="botones" class="submenu">Cambiar contraseña</li>
                    <form action="/users/logout" method="get"><button id="logout" type="submit">Cerrar sesion <i class="fa-house-person-leave"></i></button></form>
                </div>
                    <li  class="menubutton">Mis pedidos <i class="fa fa-angle-down"></i></li>
                    <div id="personales" class="hidden">
                    <li id="botones" class="submenu">Pedidos pendientes</li></div>
                </ul>
            </div>
        </div>
        <div id='datashow' class="userinfo">
            <div id='datauser'class="visible"><% include ./partials/user/home.ejs %></div>
            <div id='data' class="hidden" ><% include ./partials/user/edit.ejs %></div>
            <div id='data'class="addressdat hidden">  
                <% if (user.direccionesusuario.length>0) { %>
                  <% include partials/user/card.ejs %>
                <% } else { %>
                  <% include partials/user/add_address.ejs %>
                    <% } %> </div>
        <div id='data' class="hidden" ><% include ./partials/user/pass.ejs %> </div>
        <div id='data' class="hidden" >Pedidos </div>
        <div id='editdata' class="hidden"><% include ./partials/user/edit_address.ejs %></div>
        </div>
        </div>
</body>
<script src="/javascript/user.js"></script>
<footer>
    PIe de pagina
  </footer>
</html>