<!DOCTYPE html>
<html lang="en">
    <% include ./partials/head.ejs %>
<body>
    <% include ./partials/header.ejs %> 
    <div class="userbody">
        <div class="usermenu">
            <input type="hidden" id="screenstatus" value="<%= screen %>">
            <div class="userimg"><img src="/images/user.png" alt=""></div>
            <div id='datahome' class="username">Dante Tachella</div>
            <div class="useroptions">
                <ul>
                    <li class="menubutton">Datos personales</li>
                    <div id="personales" class="hidden">
                    <li id="botones" class="submenu">Editar datos</li>
                    <li id="botones" class="submenu">Mis direcciones</li>
                    <li id="botones" class="submenu">Cambiar contraseña</li></div>
                    <li  class="menubutton">Mis pedidos</li>
                    <div id="personales" class="hidden">
                    <li id="botones" class="submenu">Pedidos pendientes</li></div>
                </ul>
            </div>
        </div>
        <div id='datashow' class="userinfo">
        <div id='datauser'class="visible"><% include ./partials/user/home.ejs %></div>
        <div id='data' class="hidden" ><% include ./partials/user/edit.ejs %></div>
        <div id='data'class="addressdat hidden">  
            <% if (user.direccionesusuario.length>0) { %>
              <% include partials/user/card.ejs %>
            <% } else { %>
              <% include partials/user/add_address.ejs %>
                <% } %> </div>
        <div id='data' class="hidden" ><% include ./partials/user/pass.ejs %> </div>
        <div id='data' class="hidden" >Pedidos </div>
        <div id='editdata' class="hidden"><% include ./partials/user/edit_address.ejs %></div>
        </div>
    </div>
</body>
<script src="/javascript/user.js"></script>
</html>