.rowcartcontainer{
    display: flex;
    justify-content: space-around;
    height: fit-content;
    flex-direction: line;
    flex-wrap: wrap;
    margin-top: 1%;
    align-items: center;
    width: 60%;
}

.cartimgcontainer{
    width: 20%;
    background-color: white;
    height: 12vh;
}

.cartcounter{
    width: 35%;
    border: 1px solid #cacaca;
    border-radius: 25px;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carttitlecontainer{
    display: flex;
    align-items: center;
    height: 12vh;
    width: 55%;
    background-color: rgb(233, 238, 243);
    flex-wrap: wrap;
}

.carttitlecontainer h1{
    font-size: 90%;
}

.cartdelete{
    color: red;
    margin-left: 10%;
    font-size: 120%;
}

.cartendbuttons{
    width: 75%;
}

.cartendbuttons{
    display: flex;
    justify-content: space-around;
}

.cartendbuttons button{
    text-decoration: none;
    background-color: teal;
    border-radius: 25px;
    color: whitesmoke;
    text-align: center;
    width: 30%;
    font-size: 120%;
    font-weight: 500;
}
.pricecartcontainer{
    height: 12vh;
    width: 20%;
    background-color: rgb(233, 238, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartimg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carterimg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carterimg img{
    width: 50%;
    height: 12vh;
}

.cartimgcontainer{
    width: 20%;
    background-color: white;
    height: 12vh;
}

@media (max-width:599px) {  
    .rowcartcontainer{
        width: 70%;
    }
    .carttitlecontainer{
        height: 8vh;
    }
    .pricecartcontainer{
        height: 8vh;
    }

    .cartimgcontainer{
        height: 8vh;
    }
    .carterimg{
        height: 8vh;
    }
    .carttitlecontainer h1{
        font-size: 60%;
        width: 90%;
    }
    .carterimg img{
        width: 50%;
        height: 8vh;
    }

    .carterimg img{
        width: 60%;

    }
    
    .countervalue{
        font-size: 50%;
    }
    .counterbut{
        font-size: 50%;
    }
    .cartcounter{
        width: 50%;
        height: 1.5vh;
    }
    .cartdelete{
        font-size: 50%;
        margin-left: 20%;
    }
}
@media (min-width:600px) and (max-width:799px){
    .rowcartcontainer{
        width: 70%;
    }
    .carttitlecontainer{
        height: 8vh;
    }
    .pricecartcontainer{
        height: 8vh;
    }
    .cartimg img{
        height: 8vh;
    }
    .cartimgcontainer{
        height: 8vh;
    }
    .carterimg img{
        width: 50%;
        height: 8vh;
    }
    .carttitlecontainer h1{
        font-size: 110%;
        width: 90%;
    }
    .countervalue{
        font-size: 80%;
    }
    .counterbut{
        font-size: 80%;
    }
    .cartcounter{
        width: 60%;
        height: 2vh;
    }
    .cartdelete{
        font-size: 90%;
        margin-left: 15%;
    }
}  
@media (min-width:800px) {
    .carttitlecontainer{
        height: 8vh;
    }
    .pricecartcontainer{
        height: 8vh;
    }
    .cartimg img{
        height: 8vh;
    }
    .cartimgcontainer{
        height: 8vh;
    }
    .carttitlecontainer h1{
        font-size: 100%;
        width: 100%;
    }
    .carterimg img{
        width: 50%;
        height: 8vh;
    }
    .countervalue{
        font-size: 70%;
    }
    .counterbut{
        font-size: 70%;
    }
    .cartcounter{
        width: 25%;
        height: 2vh;
    }
    .cartdelete{
        font-size: 70%;
        margin-left: 15%;
    }
}  


