.detailbody{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.detailimg {
    width: 60%;
    height: 50vh;
    background-color: white;
    border-radius: 25px;
}

.detaildetail{
    width: 30%;
    height: 50vh;
    border: 1px solid #cacaca;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.detailtitle{
    width: 90%;
    color: teal;
    text-shadow: 1px 1px 7px rgba(52,44,44,0.6);
    text-align: left;
    font-size: 130%;
}

.detailtitle h1{
    margin: 15% 0em 0em 0em ;
}

.detailstock{
    width: 90%;
    color: rgb(187, 184, 184);
    margin-top: 5%;
    text-align: center;    
}

.detailprice{
    width: 90%;
    color: grey;
    text-align: left;
    font-size: 180%;
    font-weight: 600;
    margin-top: 8%;
}


.detailcounter{
    width: 50%;
    border: 1px solid #cacaca;
    border-radius: 25px;
    height: 3vh;
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counterbut{
    width: 20%;
    /* background-color: beige; */
    font-size: 150%;
    text-align: center;
    color: tomato;
}

.countervalue{
    width: 40%;
    /* background-color: blue; */
    text-align: center;
    color: grey;
    font-size: 150%;
}

.detaildetail h2{
    width: 90%;
    background-color: hotpink;
}

.detailextra{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}

.description{
    width: 60%;
    font-size: 100%;
    text-align: justify;
    color: rgb(102, 95, 95);
}

.description h1 {
    color: grey;
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 2px 3px rgb(177, 175, 175);
    text-decoration: underline grey;
}
.comments{
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stars{
    width: 90%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 170%;
    text-shadow: 2px 2px 3px grey;
}
.comment{
    width: 90%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentcard{
    width: 90%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.commentcard h2 {
    display: flex;
    justify-content: space-around;
    color: rgb(190, 238, 190);
    text-align: center;
    padding: 0%;
    margin: 0;
}

.commentcard p{
    margin: 0%;
    color:rgb(102, 95, 95);;
    text-align: justify;
}

.detailaddcart{
    width: 90%;
}

.detailaddcart form button {    text-decoration: none;
    background-color: teal;
    border-radius: 25px;
    color: whitesmoke;
    text-align: center;
    width: 70%;
    font-size: 120%;
    font-weight: 500;
    height: 4vh;
    margin-left: 15%;
    margin-top: 15%;
}

#imgslick{
    height: 45vh;
}

#imgslickcontainer{
    display: flex;
    justify-content: center;
}


.slick-prev:before, .slick-next:before{
    color: rgb(190, 238, 190);}

@media (max-width:599px) {
    .detailimg{
        width: 100%;
    }

    .detailbody{
        display: flex;
        flex-direction: column;
    }

    .detaildetail{
        width: 100%;
        height: fit-content;
    }
    
    .detailtitle h1{
        font-size: 130%;
        margin-top: 3%;
        text-align: center;
    }

    .detailprice{
        margin-top: 5%;
        text-align: center;
        margin-bottom: 5%;
    }

    .detailstock{
        margin-top: 0;
    }
    .detailcounter{
        margin-top: 5%;
    }
    .detailaddcart{
        margin-top: 0%;
    }
    .detailaddcart form button{
        margin-top: 5%;
        height: 5vh;
    }

    .detailextra{
        display: flex;
        flex-direction: column;
    }
    .description{
        width: 80%;
        margin-left: 10%;
    }

    .comments{
        width: 80%;
        margin-left: 10%;
    }
    .slick-prev:before, .slick-next:before{
        display: none
    }
}

@media (min-width:600px) and (max-width:799px){
    .slick-prev:before, .slick-next:before{
        display: none
    }

    .detaildetail{
        height: fit-content;
    }
    .detailaddcart form button{
        font-size: 90%;
        height: fit-content;
    }

    
}