.detailbody{
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.detailimg {
    width: 60%;
    height: 50vh;
    background-color: aliceblue;
}

.detaildetail{
    width: 20%;
    height: 50vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detaildetail div {
    width: 90%;
    background-color: hotpink;
}

.detaildetail h1{
    width: 90%;
    background-color: hotpink;
    text-align: center;
    font-size: 270%;
}

.detaildetail h2{
    width: 90%;
    background-color: hotpink;
}

.detailextra{
    background-color: blue;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}

.description{
    background-color: blueviolet;
    width: 60%;
}

.description h1 {
    color: white;
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 2px 3px grey;
}
.comments{
    width: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stars{
    background-color: violet;
    width: 90%;
    height: 5vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 200%;
    text-shadow: 2px 2px 3px grey;
}

.comment{
    background-color: teal;
    width: 90%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentcard{
    width: 90%;
    background-color: grey;
    margin-top: 2%;
    margin-bottom: 2%;

}

.commentcard h2 {
    display: flex;
    justify-content: space-around;
    color: rgb(190, 238, 190);
    text-align: center;
    padding: 0%;
    background-color: honeydew;
    margin: 0;
}

.commentcard p{
    margin: 0%;
    color:whitesmoke;
}