.loginbody{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.loginform{
    width: 40%;
    background-color: rgba(212, 206, 206, 0.959);
    margin-top: 3%;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.login{
    width: 50%;
    margin-top: 7%;
}

.login form{
    display: flex;
    flex-wrap: wrap;
}

.login form label{
    margin-top: 6%;
    font-size: large;
    font-weight: 900;
    color: teal;
    margin-left: 5%;
    width: 80%;
}

.login form input{
    font-size: medium;
    color: grey;
    background-color: white;
    width: 90%;
    border-radius: 25px;
    margin-left: 3%;
}

.login form .checkbox{
    width: 8%;
    margin-top: 6%;
    margin-left: 5%;
}

.login form .checklabel{
    margin-left: 2%;
    font-size: small;
}

.login form p{
    text-decoration: none;
    color: grey;
    margin-top: 10%;
    margin-left: 3%;
    text-align: center;
    width: 90%;
}

.login form a{
    text-decoration: none;
    color: grey;
    margin-top: 10%;
    margin-left: 3%;
    text-align: center;
    width: 90%;
}

.login form button{
    text-decoration: none;
    background-color: teal;
    border-radius: 10px;
    color: whitesmoke;
    margin-top: 10%;
    margin-left: 17%;
    text-align: center;
    width: 60%;
    font-size: 200%;
    font-weight: 450;
}

.login form .social {
    color: grey;
    margin-top: 5%;
}
