.regbody{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.regform{
    width: 30%;
    background-color: rgba(212, 206, 206, 0.959);
    height: 50vh;
    margin-top: 3%;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.register{
    width: 90%;
    margin-top: 7%;
}

.register form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.name{ 
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2%;
}

.name label{
    color: teal;
    font-size: medium;
    font-weight: 600;
    width: 50%;
    text-align: center;
}

.name input{
    width: 45%;
}

input{
    background-color: #f1f1f186;
    border: none;
    font-size: 100%;
    color: rgb(99, 96, 96);
    margin-bottom: 2%;
    border-radius: 5px;
}

.contact{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
}

.contact label{
    width: 100%;
    color: teal;
    font-size: medium;
    font-weight: 600;
    text-align: center;
}

.contact input{
    width: 95%;
}

.address{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2%;
}

.address label{
    width: 74%;
    color: teal;
    font-size: medium;
    font-weight: 600;
    text-align: center;
}

.address .CP{
    width: 20%;
}

.address input{
    width: 70%;
}

.address .local{
    width: 45%;
}

button{
    text-decoration: none;
    background-color: #6faaaa;
    border-radius: 10px;
    color: tomato;  
    text-align: center;
    margin-top: 5%;
    width: 60%;
    font-size: 170%;
    font-weight: 600;
}