body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(247, 245, 245);  
  margin: 0;
}

a {
  color: #00B7FF;
}

header{
  background-color:#b5d998;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo{
  width: 22%;

}

.logo img{
  width: 60%;
  justify-self: flex-end;
  margin-left: 40%;
}


.searchbar{
  width: 55%;
  display: flex;
  align-items: center;
}

.searchform{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cartuser{
  width: 23%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.searchbutton{
  background-color: #f1f1f186;
  color: rgb(88, 88, 88);
  border: 1px solid tomato;
  border-radius: 25px;  
  width: 10%;
  margin-left: 1%;
  height: 3.5vh;
  font-size: large;
}

.searchcontent{
  width: 60%;
  background-color: #f1f1f186;
  color: rgb(88, 88, 88);
  border: 1px solid tomato;
  border-radius: 25px;
  height: 3vh;
}

.menu{
  background-color:#b5d998;
    width: 100%;
}


.cartuser div {
  width: 20%;
  height: 5vh;
  margin: 2%;
  text-align: center;
}
.cartuser div a{
  line-height: 5vh;
  color: grey;  
}
.content{
  width: 80%;
  margin-top: 1%;
  margin-left: 10%;
}

footer{
  background-color: black;
  color: white;
  width: 100%;
}

.cards .offer .recent{
  width: 100%;
  background-color: red;
}

.cards{
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;

}

.card {
  height: 45vh;
  width: 20%;
  background-color:rgb(233 232 232 / 96%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5%;
  box-shadow: 0px 1px 5px 0px rgba(145,141,141,0.75);
}

.cardimg img{
  height: 20vh;
}

.cardname{
  width: 90%;
  background-color: white;
  font-size: 150%;
  text-align: center;
  font-weight: bolder;
  word-wrap: normal;
}

.cardprice {
  width: 60%;
  text-align: right;
  font-size: 200%;
  color: teal;
  margin-left: 25%;
  font-weight: 650 ;
}

.cardbutton{
  height: 4vh;
  background-color: black;
  width: 90%;
}

.indextitle{
  margin-bottom: 1%;
  color: teal;
  font-weight: bold;
  font-size: 250%;
}