<div id="edit" class="register" style="margin-top: 2%;">
    <h1 style="text-align: center;">Agregar nueva dirección de envío</h1>
    <form action="/users/user/address/edit" method="POST" id="addsubmit">
    <input type="hidden" name="Address_Id" id="EditAddressID" value="">
    <div class="name">
    <label for="Name">Dirección</label>
    <input type="text" name="Adress" id="EditAddress" value="">
    <label for="Surname">City</label>
    <input type="text" name="City" id="EditCity" value="">
    <label for="Surname">Province</label>
    <input type="text" name="Province" id="EditProvince" value="">
    <label for="Surname">Zip Code</label>
    <input type="text" name="Zip_Code" id="EditZipcode" value="">
    <input type="hidden" name="User_Id" id="EditAddressUserID" value="">  
</div>
<button class="regbutton" type="submit">Cargar</button>
</form></div>